* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --white: #fff;
  --dark: #222222;
  --black: #000000;
  --gray: #999999;
  --gray-light: #F8F8F8;
  --border: #707070;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
