@import "../../styles/animations.scss";

@mixin menu-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.header {
  width: 100%;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 800;

  &__top-bar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1340px;
    background: var(--white);
    z-index: 200;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      flex-shrink: 0;

      @media (min-width: 1024px) {
        width: 152px;
      }

      &__img {
        width: 100%;
      }
    }

    .header-menu,
    .menu-mobile {
      display: flex;
      gap: 30px;

      .menu-item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        color: var(--dark);
        padding: 10px 0;
        cursor: pointer;

        text-align: center;

        &:hover > svg {
          fill: var(--gray);
        }

        &--user {
          position: relative;
        }

        &--user:hover > .menu-item__dropdown,
        &__dropdown:hover {
          visibility: visible;
          opacity: 1;
          animation: slideTopEase 300ms ease-in-out;
          transform: translateY(0%);
        }

        &__dropdown {
          display: flex;
          flex-direction: column;
          align-items: center;

          background: #fff;
          width: 210px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          padding-top: 20px;

          position: absolute;
          top: 40px;
          left: -50%;
          z-index: 200;

          visibility: hidden;
          opacity: 0;
          transform: translateY(8%);
          -webkit-transition: all 300ms ease-in-out;
          -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;

          &__list:nth-child(1) {
            margin-bottom: 20px;
          }

          &__list a {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 16px;
            color: var(--dark);
            position: relative;

            &:hover {
              &::after {
                width: 100%;
              }
            }

            &::after {
              content: "";
              width: 0;
              height: 1px;
              background: var(--dark);
              position: absolute;
              top: 20px;
              left: 0;

              transition: all 200ms ease-in-out;
            }
          }

          &__account {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 20px 0;
            background-color: var(--gray-light);
            width: 100%;
            gap: 10px;

            > li a {
              font-size: 13px;
              color: var(--gray);
              font-weight: 400;
              padding: 5px 0;
            }
          }
        }
      }

      &__desktop {
        display: none;
        gap: 30px;

        @include menu-desktop {
          display: flex;
        }
      }

      &__mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }

      > .toggle-menu-button {
        > svg {
          width: 20px;
          height: 20px;
        }

        @include menu-desktop {
          display: none;
        }
      }
    }

    > .menu-mobile {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 69px;
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding: 20px;
      background: var(--white);
      border-top: 2px solid var(--gray-light);
      animation: slideTop 400ms;

      @include menu-desktop {
        display: none;
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
