@import '../../styles/animations.scss';

@mixin menu-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  background: var(--white);

  position: sticky;
  top: 0;

  @include menu-desktop {
    position: unset;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    flex-shrink: 0;

    @media (min-width: 1024px) {
      width: 152px;
    }

    &__img {
      width: 100%;
    }
  }

  .header-menu,
  .menu-mobile {
    display: flex;
    gap: 30px;

    .menu-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 600;
      color: var(--dark);
      padding: 10px 0;
      cursor: pointer;

      text-align: center;

      &:hover > svg {
        fill: var(--gray);
      }

      &--user {
        position: relative;
      }

      &--user:hover > .menu-item__dropdown,
      &__dropdown:hover {
        display: flex;
        visibility: visible;
        opacity: 1;
      }

      &__dropdown {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: -50%;
        background: #fff;
        width: 210px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;

        animation: slideTopEase 200ms ease;

        &__list:nth-child(1) {
          margin-bottom: 20px;
        }

        &__list a {
          font-family: "Roboto";
          font-weight: 400;
          font-size: 16px;
          color: var(--dark);
          position: relative;

          &:hover {
            &::after {
              width: 100%;
            }
          }

          &::after {
            content: "";
            width: 0;
            height: 1px;
            background: var(--dark);
            position: absolute;
            top: 20px;
            left: 0;

            transition: all 200ms ease-in-out;
          }
        }

        &__account {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          padding: 20px 0;
          background-color: var(--gray-light);
          width: 100%;
          gap: 10px;

         > li a {
          font-size: 13px;
          color: var(--gray);
          font-weight: 400;
          padding: 5px 0;
         }
        }
      }
    }

    &__desktop {
      display: none;
      gap: 30px;

      @include menu-desktop {
        display: flex;
      }
    }

    &__mobile {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    > .toggle-menu-button {
      > svg {
        width: 20px;
        height: 20px;
      }

      @include menu-desktop {
        display: none;
      }
    }
  }

  > .menu-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 69px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: var(--white);
    border-top: 2px solid var(--gray-light);

    animation: slideTop 400ms;

    @include menu-desktop {
      display: none;
    }
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
