.payment-banner {
  width: 100%;
  background-color: var(--gray-light);

  display: flex;
  align-items: center;
  padding: 20px;

  @media (min-width: 768px) {
    height: 100px;
  }

  &__content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: left;

      svg {
        flex-shrink: 0;
      }
      span {
        color: var(--dark);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
